* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Anton";
  src: url(../../font/Anton-Regular.ttf);
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}