<aside class="sidebar">
  <ul class="sidebar-list">
    <li class="sidebar-list__item">リスト1</li>
    <li class="sidebar-list__item">リスト2</li>
    <li class="sidebar-list__item">リスト3</li>
    <li class="sidebar-list__item">リスト4</li>
  </ul>
</aside>