<%- include('_header.html.ejs') %>
<div class="content">
  <main class="main">
    <section class="main-content">
      <h1 class="heading">Anton heading</h1>
      <p>
        ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。
      </p>
      <img src="../img/sample.jpg" alt="" class="eyecatch">
      <%- include('part/_rainbow.html.ejs') %>
    </section>
  </main>
  <%- include('_sidebar.html.ejs') %>
</div>
<%- include('_footer.html.ejs') %>
